@import url(" https://fonts.cdnfonts.com/css/ica-rubrik-black ");
@import url(" https://fonts.cdnfonts.com/css/poppins ");

body{
    margin: 0;
    background: #dcdde1;
}
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;

}
.banner .slider{
    position:absolute;
    width: 150px;
    height: 190px;
    top: 8%;
    left: calc(50% - 100px);
    transform-style:preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slider .item{
     position:absolute;
     inset:0 0 0 0;
     transform: 
     rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) *1deg))
     translateZ(480px);

}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
   position: absolute;
    top: 79%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width:min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0 ;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 12em;
    line-height: 1em;
    color: #25283B;
    position: relative;
    

}
.banner .content .author{
    font-family: 'Poppins', sans-serif;
    text-align: right;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;              
}

.banner .content .author h2{
    font-size: 1.6em;   
    margin: 0;
    line-height: 1.1;
}

.banner .content .author p{
    font-size: 0.75em;
    color: #7b7575;
    letter-spacing: 1px;
    margin: 0;
}
.banner .content h2{
   
    font-size: 3em;
   
}
.banner .content .model{
    background-image: url(images/ad13eac7-ff58-469b-8c11-6e0f28cb0ba7.png);
    width: 100%;
    height: 85vh;
    position: absolute;
    bottom:0;
    left: 0;
    top: 1;
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;



}
